:root{
  --bg-primary:#000;
  --bg-secendary:#191919;
  --green:#aaf0ad;
  --light:#fff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

/* h1 - 85px
H2 - 48px
h3 - 24 px 
h4 - 18 px 
p - 16px */

h1{
  font-size: 84px;
}

h2{
  font-size: 48px
}

h3{
  font-size: 24px;
}

h4{
  font-size: 18px;
}

p{
  font-size: 16px;
}

html,body{
  background: var(--bg-primary);
  color: var(--light);
}

/* .avater img{
  width: 60px;
  border-radius: 50px;
  border: 1px solid black;
} */

button{
  border: 1px solid white;
  border-radius: 100px;
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover{
    background-color: var(--green);
    color: var(--bg-primary);
  }
}

/* --------------hero section */

.hero_section{
  background: var(--bg-secendary);
  height: 100vh;
  display: flex;

  nav{
    min-width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    border-right: 1px solid var(--light);

    ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

      li{
        a{
          color: white;
          &:hover{
            color: orangered;
            text-decoration: underline;
          }
        }
      }
    }

    .linkedin_logo{
      img{
        width: 50px;
      }
    }

  }

  .main_section{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    button{
      position: absolute;
      top: 50px;
      right: 50px;
    }

    .personal_info{
      
      .avater{
        display: flex;
        gap: 10px;
        align-items: center;

        .dot{
          background: var(--light);
          height: 5px;
          width: 5px;
          border-radius: 50px;
        }

        img{
          width: 60px;
          border-radius: 50px;
          border: 1px solid var(--light);
        }
      }
    }
  }

  .top_bg{
    position: absolute;
    top: 0;
    right: 0;
  }
}


/* --------------About section */

.about_section{
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 80px;

  .about_img{
    height: 80%;

    img{}

  }

  .about_contant{
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 28px;
  }

}


/* --------------Exprience section */

.exp_section{
  padding: 80px 30px;
  background: var(--bg-secendary);
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2{
    margin-bottom: 50px;
    text-align: center;
  }


  .btn{
    display: flex;
    justify-content: center;
  }

  .exp_card{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--green);
    border-radius: 10px;
    gap: 10px;
    text-align: center;

    .tag{
      background: var(--green);
      color: var(--bg-primary);
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 13px;
      line-height: 1;
    }

    h3{}

    h4{}

    p{
      max-width: 40%;
      line-height: 1.6;
    }

  }
}



/* --------------Project section */

.project_section{
  padding: 50px 30px;
  background: var(--bg-secendary);

  h2{
    margin-bottom: 80px;
    text-align: center;
  }
  

  .project_card{
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: 60px 40px;
    display: flex;
    gap: 40px;

    .left{

      .overview{
        
        .title{
          display: flex;
            align-items: center;
            gap: 20px;

          .number{
            background: var(--green);
            color: var(--bg-primary);
            width: 50px; height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            font-size: 18px;
            font-weight: bold;
          }
          
        h3{}
        }
      }

      .discription{
        margin-top: 25px;
        margin-bottom: 25px;
      }

      .key_future{

        h3{
          margin-bottom: 16px;
        }

        ul{
          padding-left: 35px;
          li{
            list-style: square;
            margin-top: 8px;
            line-height: 24px;
          }
        }
      }

    }
    .right{
      .img_container{
        img{}
      }

      .tec{
        margin-top: 20px;
        h3{
          margin-bottom: 16px;
        }

        ul{
          padding-left: 35px;
          li{
            list-style: square;
            margin-top: 8px;
            line-height: 24px;
          }
        }
      }
    }
  }
}


/* --------------Skills section */

.skills_section{
  text-align: center;
  background: var(--bg-primary);
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  h2{
    margin-bottom: 50px;
    text-align: center;
  }


  .skills{
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3{}

    p{}

  }


}


/* --------------Contact section */

.contact_section{
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 80px;

  .contact_img{
    height: 80%;
    img{}
  }

  .contact_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;

    p{
      max-width: 60%;
    }

    .linkedin_container{

      display: flex;
      gap: 15px;
      align-items: center;

      .linkedin_logo{

        img{
          height: 50px;
          width: 50px;
        }
  
      }
  
      h3{
        font-size: 20px;
      }
    }
    

  }

}


/* --------------bar section */

.bar{
  background: var(--green);
  height: 10px;
}